[alias]
  a = add -A
  ai = add -i
  co = checkout
  c = commit
  cm = commit -m
  amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
  cp = cherry-pick
  ri = "!r() { git rebase -i HEAD~$1; }; r"
  r = reset
  r1 = reset HEAD^
  rh = reset --hard
  rh1 = reset HEAD^ --hard
  br = branch
  d = diff
  dc = diff --cached
  s = status
  l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  ll = log --stat --abbrev-commit
  sl = shortlog -sn
  fl = log -u
  find = !git ls-files | grep -i
  grep = grep -Ii
  x = !gitx --all
  ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $1 >> .gitignore
  al = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t=> \\2/' | sort

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[core]
	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore
  ignorecase = false

[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true

[push]
  default = matching

[mergetool]
  keepBackup = false
  prompt = false

[difftool]
  prompt = false

# Use `origin` as the default remote on the `master` branch in all cases
[branch "master"]
	remote = origin
	merge = refs/heads/master

[credential]
  helper = osxkeychain
